html, body {
    margin: 0;
    height: 98%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
    margin-top: 2%;
}

.item {
    display: inline-flex;
    margin-left: 1%;
    margin-right: 1%;
}

.orange-element {
    background-color: orange;
    width: 100%;
}

.blue-element {
    background-color: deepskyblue;
    width: 100%;
}

.yellow-element {
    background-color: yellow;
    width: 100%;
}

.gray-element {
    background-color: lightgray;
    width: 100%;
}

#orange-box {
    height: 8%;
}

#yellow-box {
    height: 38%;
}

#blue-box {
    height: 28%;
}

#gray-box {
    height: 18%;
}