/*html, body {*/
/*margin: 0;*/
/*height: 96%;*/
/*}*/

header {
    height: 10%;
    width: 100%;
    top: 0;
    vertical-align: middle;
    background-color: rgba(149, 255, 125, 0.50);
    position: fixed;
}

header:hover {
    background-color: rgba(255, 125, 6, 0.50);
}

img {
    transform: translateY(12.5%);
    position: relative;
    display: inline-block;
    height: 80%;
}

#leftImage {
    float: left;
}

#rightImage {
    float: right;
}

#mainBlock {
    margin-top: 20%;
    margin-bottom: 50px;
    width: 100%;
    height: 70vh;
    background-color: orangered;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#firstColumn {
    top: 10.9%;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    border-right: 6px solid #52ffbd;
    border-left: 6px solid green;
}

#secondColumn {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    border-right: 6px solid #52ffbd;
    border-left: 6px solid green;
}

footer {
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.50);
}

footer:hover {
    background-color: rgba(0, 255, 255, 0);
}