html, body {
    height: 96%;
}

.container {
    height: 96%;
    display: flex;
    justify-content: stretch;
    margin-bottom: 2%;
    margin-top: 2%;
    flex-flow: row wrap;
}

@media all and (width: 1920px) and (height: 1080px) {
    .item {
        display: inline-flex;
        margin-left: 1%;
        margin-right: 1%;
    }

    #red-box {
        background-color: red;
        width: 28%;
        height: 10%;
    }

    #orange-box {
        background-color: orange;
        width: 67%;
        height: 10%;
    }

    #green-box {
        background-color: green;
        width: 97%;
        height: 60%;
    }

    #brown-box {
        background-color: brown;
        width: 31%;
        height: 27%;
    }

    #blue-box {
        background-color: blue;
        width: 31%;
        height: 27%;
    }

    #purple-box {
        background-color: purple;
        width: 31%;
        height: 27%;
    }
}

@media only screen
and ( (min-device-width :

375px

)
    and

(max-device-width :

812px

)
    and

(-webkit-device-pixel-ratio :

3) or

() ) {
    .item {
        display: inline-flex;
        margin-left: 1%;
        margin-right: 1%;
    }

    #red-box {
        background-color: red;
        width: 28%;
        height: 10%;
    }

    #orange-box {
        background-color: orange;
        width: 67%;
        height: 10%;
    }

    #green-box {
        background-color: green;
        width: 97%;
        height: 60%;
    }

    #brown-box {
        background-color: brown;
        width: 31%;
        height: 27%;
    }

    #blue-box {
        background-color: blue;
        width: 31%;
        height: 27%;
    }

    #purple-box {
        background-color: purple;
        width: 31%;
        height: 27%;
    }
}